
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
    <div>
        @Ajax.ActionLink(
            "Add New Appartment",
            "AddAppartment", new { @class = "btn btn-default" },
            new AjaxOptions { UpdateTargetId = "contentDiv" })

        @Ajax.ActionLink(
            "Update Appartment",
            "UpdateAppartment",
            new AjaxOptions { UpdateTargetId = "contentDiv" })
    </div>

    <div id="contentDiv">


    </div>
</div>
