
@{
    ViewBag.Title = "ServerError";
}
<div class="500div">
    <h2>500 - internal server error</h2>
    <h3>our team are Professionals and dont do misstakes</h3>
    <h4>so its probobly your foult!</h4>
</div>


