
@{
    ViewBag.Title = "Index";
}

<h2>Test</h2>
<p> your loged in as @User.Identity.Name</p>

<h1>Lediga just nu</h1>
<div class="container ">
    <div class="row lagenhetlist">
        <div class="col-md-1">
           <img src="#" alt="#" />
        </div>
        <div class="col-md-1">
            2 Rum
        </div>
        <div class="col-md-2">
            Område:  <br />
            Våning: <br />
            Yta (ca): <br />
            Hyra:    <br />
            Inflyttning:<br />  
        </div>
        <div class="col-md-2">
           Ringstorp <br />
           2:a våningen<br />
           80 m²<br />
           10 940 kr/mån<br />
           2017-02-01<br />
        </div>
        <div class="col-md-3">
            Långarödsvägen 55<br />
            2548 Helsingborg
        </div>
        <div class="col-md-3">
            <a href="#">Link till lägenhet</a>
        </div>
    </div>

</div>

