@model IEnumerable<ViewModels2.VyModels.AppartmentViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Test</h2>
<p> your loged in as @User.Identity.Name</p>

@Html.Partial("~/Views/Home/ListOfApartments.cshtml", Model)


@*<div class="container ">
    <div class="row lagenhetlist">
        <div class="col-md-2 ">
            <img src="http://placehold.it/150x150/292929/99cc66">
        </div>
        <div class="col-md-1 mid">
            2 Rum
        </div>
        <div class="col-md-2">
            Område:  <br />
            Våning: <br />
            Yta (ca): <br />
            Hyra:    <br />
            Inflyttning:<br />  
        </div>
        <div class="col-md-2">
           Ringstorp <br />
           2:a våningen<br />
           80 m²<br />
           10 940 kr/mån<br />
           2017-02-01<br />
        </div>
        <div class="col-md-3">
            Långarödsvägen 55<br />
            2548 Helsingborg
        </div>
        <div class="col-md-2 mid">
            <button type="button" class="btn btn-default">Link till lägenhet</button>
        </div>
    </div> 
   

 </div>*@

